@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text|Oswald|Raleway|Roboto&display=swap');

.jumbotron-landing {
  background-image: url("./landingImage.jpg");
  height: 100vh;
  background-size: cover;
}

.about-us {
  height: 100vh;
}

.HeaderClass {
  font-family: 'Raleway', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
